<footer>
	<div>
		<p class="footerPara">Who created this Amazing/Mediocre/Wretched software?</p>
		<p class="footerPara">Abdullah Shahzad</p> 
		<p class="footerPara">shahzad097@outlook.com - github.com/abdullahshahzadd - www.abdullahshahzad.com </p>
	</div>
</footer>
