
<div class="columnDiv roundBorder" id="leftMenu">
	<div class="linkButton buttonZoom">
		<a href="/sale">Sales</a>
	</div>
	<div class="linkButton buttonZoom">
		<a href="/inventory">Inventory</a>
	</div>
	<div class="linkButton buttonZoom">
		<a href="/customer">Customers</a>
	</div>
</div>
