<!DOCTYPE html>
<html>
	<head>
		<title>Dashboard</title>
		<link rel="stylesheet" type="text/css" href="./css/style.css">
	</head>

	<body>
		{{> headerMenu}}
		<div id="customerParentDiv" class="expandWidth">

				<div class="rowDiv">
					<div id="custDiv" class="columnDiv saleElMargin roundBorder"></div>
					<div id="addCustDiv" class="columnDiv saleElMargin roundBorder">

						<h4 class="customerHeader">Add Customer</h4>
						<form action="/addCustomer" method="POST" enctype="application/x-www-form-urlencoded">
							<div class="rowDiv">
								<div>
									<label for="fname" class="saleElMargin">First Name</label><br>
									<input type="text" id="fname" name="fname" class="saleElMargin roundBorder" required>
								</div>
								<div>
									<label for="lname" class="saleElMargin">Last Name</label><br>
									<input type="text" id="lname" name="lname" class="saleElMargin roundBorder" required>
								</div>
							</div>
							{{#if custAddError}}
							<div><span class="warning">Email already registered to this location</span></div>
							{{/if}}
							<div>
								<label for="email" class="saleElMargin">Email</label><br>
								<input type="text" id="email" name="email" class="saleElMargin roundBorder" required>
							</div>
							<div>
								<input type="submit" class="center">
							</div>
						</form>
					</div>
				</div>
		</div>
		<div id="itemLocationMessage" class="saleElMargin expandWidth"></div>
					<div class="rowDiv itemLineHeight expandWidth">
						<div class="itemBrandColumn saleElMargin"><strong>Brand</strong></div>
						<div class="itemNameColumn saleElMargin"><strong>Name</strong></div>
						<div class="itemCategoryColumn saleElMargin"><strong>Category</strong></div>
						<div class="itemStockColumn saleElMargin"><strong>Available</strong></div>
						<div class="itemPriceColumn saleElMargin"><strong>Price</strong></div>
					</div>
			<div id="itemListDiv" class="expandWidth"></div>


		<div id="editItemButton" class="saleElMargin roundBorder expandWidth expand">
			<h2 class="hiddenDivName">Edit Item</h2>
		</div>
			<div id="editItemDiv" class="expandWidth"></div>



			<div id="receiveOrderSelector" class="saleElMargin expand roundBorder expandWidth">
				<h2 class="hiddenDivName">Receive Order</h2>
			</div>
		<div id="receiveOrder" class="expandWidth">
			<div>
				<label for="findItem" class="saleElMargin">Search for Item</label>
				<input type="text" id="findItem" class="saleElMargin roundBorder" name="findItem">
			</div>
			<div>
				<div class="rowDiv">

					<div class="itemBrandColumn saleElMargin"><strong>Brand</strong></div>
					<div class="itemNameColumn saleElMargin"><strong>Name</strong></div>
					<div class="itemCategoryColumn saleElMargin"><strong>Category</strong></div>
					<div class="itemReceivedColumn saleElMargin"><strong>Quantity Received</strong></div>
					<div class="submitReceivedColumn saleElMargin"><strong>Submit</strong></div>
				</div>
				<div id="receiveOrderItems"></div>
			</div>
		</div>


			<div id="addItemSelector" class="saleElMargin expand roundBorder expandWidth">
				<h2 class="hiddenDivName">Add Item</h2>
			</div>
			<div id="addItemDiv" class="saleElMargin expandWidth">
		<div class="columnDiv editItemBox center">
			<form action="/addItem" id="addItem" method="POST" enctype="application/x-www-form-urlencoded">
				<div>
				<input type="text" name="itemName" id="itemName" placeholder="Item Name" class="saleElMargin">
				</div>
				<div>
				<input type="text" name="itemBrand" id="itemBrand" placeholder="Brand" class="saleElMargin">
				</div>
				<div>
				<input type="text" name="itemCategory" id="itemCategory" placeholder="Category" class="saleElMargin">
				</div>
				<div>
				<input type="text" name="itemSize" id="itemSize" placeholder="Size" class="saleElMargin">
				</div>

				<div>
					<input type="number" name="itemPrice" id="itemPrice" min="0" step=".01" placeholder="Price" class="saleElMargin">
				</div>
				<div>
					<input type="number" name="itemQty", id="itemQty" placeholder="Quantity" class="saleElMargin">
				</div>
				<div>
					<input type="submit" value="Create Item" class="saleElMargin">
				</div>
			</form>
		</div>
	</div>
		<div id="addEmployeeSelector" class="saleElMargin expand roundBorder expandWidth">
			<h2 class="hiddenDivName">Add Employee</h2></div>
		<div id="addEmployee" class="expandWidth">
			<form action="/addEmployee" method="POST" enctype="application/x-www-form-urlencoded">
				<div>
					<div class="rowDiv saleElMargin">
						<div class="saleElMargin">
							<input type="text" name="empFName" placeholder="First Name" required>
						</div>
						<div class="saleElMargin">
							<input type="text" name="empLName" placeholder="Last Name" required>
						</div>
						<div class="saleElMargin">
							{{#if empEmailErr}}
							<div class="warning">Email already exists</div>
							{{/if}}
							<input type="email" name="empEmail" placeholder="email" required>
						</div>
						<div class="saleElMargin">
							{{#if empPasswordErr}}
							<div class="warning">Incorrect password syntax</div>
							{{/if}}
							<input type="password" name="empPassword" placeholder="Password" required>
						</div>
					</div>
					<div class="saleElMargin">
						<h4>Select Role</h4>
						<input type="radio" id="admin" name="empRole" value="admin" required>
						<label for="manager">Admin</label>
					</div>
					<input type="hidden" id="locationToRegisterEmp" name="locationToRegisterEmp">
					<div class="saleElMargin">
						<input type="radio" id="general" name="empRole" value="general" required>
						<label for="general">General</label>
					</div>
					<div>
						<input type="submit" value="Submit">
					</div>
				</div>
			</form>
		</div>

		<div id="modifyEmployeeSelector" class="saleElMargin expand roundBorder expandWidth">
			<h2 class="hiddenDivName">Modify Employee</h2>
		</div>
		<div id="modifyEmployee" class="expandWidth">
				<!-- <div class="rowDiv"> -->
				<!--     <form action="/editEmployee" method="POST" enctype="application/x-www-form-urlencoded"> -->
				<!--         <div> -->
				<!--             <label for="fname">First Name</label> -->
				<!--             <input type="text" name="fname" value="{{this.fname}}" required> -->
				<!--         </div> -->
				<!--         <div> -->
				<!--             <label for="lName">Last Name</label> -->
				<!--             <input type="text" name="lname" value="{{this.lname}}" required> -->
				<!--         </div> -->
				<!--         <div> -->
				<!--             <label for="email">Email</label> -->
				<!--             <input type="email" name="email" value="{{this.email}}" required> -->
				<!--         </div> -->
				<!--         <div> -->
				<!--             <label for="password">Password</label> -->
				<!--             <input type="password" name="password" required> -->
				<!--         </div> -->
				<!--     </form> -->
				<!-- </div> -->
		</div>

		<div id="addLocationSelector" class="saleElMargin expand roundBorder expandWidth">
			<h2 class="hiddenDivName">Add Location</h2></div>
		<div id="addLocation" class="editItemBox center">
			<form action="/addLocation" method="POST" enctype="application/x-www-form-urlencoded">
				<div>
					<input type="text" name="streetName" placeholder="Street Name" required class="saleElMargin">
				</div>
				<div>
					<input type="number" name="streetNumber" placeholder="Street Number" required class="saleElMargin">
				</div>
				<div>
					<input type="text" name="postalCode" placeholder="Postal Code" required class="saleElMargin">
				</div>
				<div>
					<input type="text" name="city" placeholder="City" required class="saleElMargin">
				</div>
				<div>
					<input type="text" name="province" placeholder="Province" required class="saleElMargin">
				</div>
				<div>
					<input type="text" name="country" placeholder="Country" required class="saleElMargin">
				</div>
				<div>
					<input type="text" name="name" placeholder="Business Name" class="saleElMargin">
				</div>
				<div>
					<input type="submit" value="Submit" class="saleElMargin">
				</div>
			</form>
		</div>
	</body>

	<script src="./js/adminDashboardScript.js" type="text/javascript"></script>
</html>
