<!DOCTYPE html>
<html>
	<head>
		<title>Dashboard</title>
		<link rel="stylesheet" type="text/css" href="./css/style.css">
	</head>

	<body>
		{{> headerMenu}}
		
		<div id="itemLocationMessage" class="saleElMargin expandWidth"></div>
					<div class="rowDiv itemLineHeight expandWidth">
						<div class="itemBrandColumn saleElMargin"><strong>Brand</strong></div>
						<div class="itemNameColumn saleElMargin"><strong>Name</strong></div>
						<div class="itemCategoryColumn saleElMargin"><strong>Category</strong></div>
						<div class="itemStockColumn saleElMargin"><strong>Available</strong></div>
						<div class="itemPriceColumn saleElMargin"><strong>Price</strong></div>
					</div>
			<div id="itemListDiv" class="expandWidth"></div>


		<div id="editItemButton" class="saleElMargin roundBorder expandWidth expand">
			<h2 class="hiddenDivName">Edit Item</h2>
		</div>
			<div id="editItemDiv" class="expandWidth"></div>



			<div id="receiveOrderSelector" class="saleElMargin expand roundBorder expandWidth">
				<h2 class="hiddenDivName">Receive Order</h2>
			</div>
		<div id="receiveOrder" class="expandWidth">
			<div>
				<label for="findItem" class="saleElMargin">Search for Item</label>
				<input type="text" id="findItem" class="saleElMargin roundBorder" name="findItem">
			</div>
			<div>
				<div class="rowDiv">

					<div class="itemBrandColumn saleElMargin"><strong>Brand</strong></div>
					<div class="itemNameColumn saleElMargin"><strong>Name</strong></div>
					<div class="itemCategoryColumn saleElMargin"><strong>Category</strong></div>
					<div class="itemReceivedColumn saleElMargin"><strong>Quantity Received</strong></div>
					<div class="submitReceivedColumn saleElMargin"><strong>Submit</strong></div>
				</div>
				<div id="receiveOrderItems"></div>
			</div>
		</div>


			<div id="addItemSelector" class="saleElMargin expand roundBorder expandWidth">
				<h2 class="hiddenDivName">Add Item</h2>
			</div>
			<div id="addItemDiv" class="saleElMargin expandWidth">
		<div class="columnDiv editItemBox center">
			<form action="/addItem" id="addItem" method="POST" enctype="application/x-www-form-urlencoded">
				<div>
				<input type="text" name="itemName" id="itemName" placeholder="Item Name" class="saleElMargin" required>
				</div>
				<div>
				<input type="text" name="itemBrand" id="itemBrand" placeholder="Brand" class="saleElMargin" required>
				</div>
				<div>
				<input type="text" name="itemCategory" id="itemCategory" placeholder="Category" class="saleElMargin" required>
				</div>
				<div>
				<input type="text" name="itemSize" id="itemSize" placeholder="Size" class="saleElMargin" required>
				</div>

				<div>
					<input type="number" name="itemCost" id="itemCost" min="0" step=".01" placeholder="Cost" class="saleElMargin">
				</div>

				<div>
					<input type="number" name="itemPrice" id="itemPrice" min="0" step=".01" placeholder="Price" class="saleElMargin" required>
				</div>
				<div>
					<input type="number" name="itemQty", id="itemQty" placeholder="Quantity" class="saleElMargin" required>
				</div>
				<div>
					<input type="submit" value="Create Item" class="saleElMargin">
				</div>
			</form>
		</div>
	</div>
				<div id="addLocationSelector" class="saleElMargin expand roundBorder expandWidth">
			<h2 class="hiddenDivName">Add Location</h2></div>
		<div id="addLocation" class="editItemBox center">
			<form action="/addLocation" method="POST" enctype="application/x-www-form-urlencoded">
				<div>
					<input type="text" name="streetName" placeholder="Street Name" required class="saleElMargin">
				</div>
				<div>
					<input type="number" name="streetNumber" placeholder="Street Number" required class="saleElMargin">
				</div>
				<div>
					<input type="text" name="postalCode" placeholder="Postal Code" required class="saleElMargin">
				</div>
				<div>
					<input type="text" name="city" placeholder="City" required class="saleElMargin">
				</div>
				<div>
					<input type="text" name="province" placeholder="Province" required class="saleElMargin">
				</div>
				<div>
					<input type="text" name="country" placeholder="Country" required class="saleElMargin">
				</div>
				<div>
					<input type="text" name="name" placeholder="Business Name" class="saleElMargin">
				</div>
				<div>
					<input type="submit" value="Submit" class="saleElMargin">
				</div>
			</form>
		</div>
	</body>

	<script src="./js/adminDashboardScript.js" type="text/javascript"></script>
</html>
