<!DOCTYPE html>
<html>
	<head>
		<title>Sales</title>
		<link rel="stylesheet" type="text/css" href="./css/style.css">
	</head>

	<body>
		{{> headerMenu}}
	</body>
	<script src="./js/reportScript.js" type="text/javascript"></script>
</html>
