<!DOCTYPE html>
<html>
	<head>
		<title>Sales</title>
		<link rel="stylesheet" type="text/css" href="./css/style.css">
	</head>

	<body>
		{{> headerMenu}}
		<div id="sales" style="width: 400px; height=400px;">
		<canvas id="myChart"></canvas>
		</div>
	</body>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="./js/chartScript.js"></script>

</html>
