<!DOCTYPE html>
<html>
	<head>
		<title>Dashboard</title>
		<link rel="stylesheet" type="text/css" href="./css/style.css">
	</head>

	<body>
		{{> headerMenu}}
		<div id="customerParentDiv">

			<div class="bodyDiv rowDiv">
				<div class="columnDiv">
					<div id="custDiv" class="columnDiv roundBorder"></div>
					<div id="addCustDiv" class="columnDiv roundBorder">
						<form action="/addCustomer" method="POST" enctype="application/x-www-form-urlencoded">
							<fieldset>
								<legend>Add Customer:</legend>
							<div class="rowDiv">
								<div>
									<label for="fname" class="saleElMargin">First Name</label><br>
									<input type="text" id="fname" name="fname" class="saleElMargin roundBorder" required>
								</div>
								<div>
									<label for="lname" class="saleElMargin">Last Name</label><br>
									<input type="text" id="lname" name="lname" class="saleElMargin roundBorder" required>
								</div>
							</div>
							{{#if custAddError}}
							<div><span class="warning">Email already registered to this location</span></div>
							{{/if}}
							<div>
								<label for="email" class="saleElMargin">Email</label>
								<input type="text" id="email" name="email" class="saleElMargin roundBorder" required>
							</div>
							<div>
								<input type="submit">
							</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div id="itemLocationMessage" class="saleElMargin"></div>
					<div class="rowDiv itemLineHeight">
						<div class="itemBrandColumn saleElMargin"><strong>Brand</strong></div>
						<div class="itemNameColumn saleElMargin"><strong>Name</strong></div>
						<div class="itemCategoryColumn saleElMargin"><strong>Category</strong></div>
						<div class="itemStockColumn saleElMargin"><strong>Available</strong></div>
						<div class="itemPriceColumn saleElMargin"><strong>Price</strong></div>
					</div>
			<div id="itemListDiv"></div>





			<div id="receiveOrderSelector" class="saleElMargin expand roundBorder">
				<h3>Receive Order</h3>
			</div>
		<div id="receiveOrder">
			<div>
				<label for="findItem" class="saleElMargin">Search for Item</label>
				<input type="text" id="findItem" class="saleElMargin roundBorder" name="findItem">
			</div>
			<div>
				<div class="rowDiv">

					<div class="itemBrandColumn saleElMargin"><strong>Brand</strong></div>
					<div class="itemNameColumn saleElMargin"><strong>Name</strong></div>
					<div class="itemCategoryColumn saleElMargin"><strong>Category</strong></div>
					<div class="itemReceivedColumn saleElMargin"><strong>Quantity Received</strong></div>
					<div class="submitReceivedColumn saleElMargin"><strong>Submit</strong></div>
				</div>
				<div id="receiveOrderItems"></div>
			</div>
		</div>


	</body>

	<script src="./js/genDashboardScript.js" type="text/javascript"></script>
</html>
