
/* ------------------- Global Alignment ---------------------- */


.columnDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.rowDiv {
	display:flex;
	flex-direction:row;
	justify-content: flex-start;
	flex-wrap: wrap;
}


/* ------------------- Global Style ---------------------- */


.center {
	margin: auto;
}

.centerText {
	text-align: center;
}

.floatRight {
	float: right;
}

.lrpad15px {
	padding: 0px 15px;
}

.roundBorder {
	border-radius: 5px;
	border-color:grey;
	border-style: solid;
}

.warning {
	color: red;
}


/* ------------------- Buttons ------------------------- */

.linkButton {
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 15px;
	padding: 4px;
	margin: 2px;
	background-color: forestgreen;
}

.linkButton a{
	color: black;
	margin: auto;
	font-size:large;
	display: flex;
    flex-direction: column;
	justify-content: center;
	text-align: center;
}

.linkButton a:link{
	text-decoration: none;
}

.linkButton a:visited{
	text-decoration:none;
}

.linkButton a:active{
	text-decoration: underline;
}

.buttonZoom:hover{
    transition: all .2s;
    transform: scale(1.05);
}


/* ------------------- Navigation Menu ------------------------- */

header{
	display: flex;
	flex-direction: row;
}

#logo{
    flex-grow: .1;
    margin: 15px 15px 15px 15px;
}

.head{
    margin: 15px 15px 15px 15px;
}


#navigation a:hover{
    text-decoration: none;
    transition: all .2s;
    transform: scale(1.05);
}

#navigation a:link{
    text-decoration: none;
}

#navigation a:visited{
    text-decoration: none;
}

#navigation a:active{
    text-decoration: underline;
}

#navigation{
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
}

.chooseLocationAnchors{
	display: none;
	box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.4);
	position: absolute;
	z-index: 1;
	min-width: 150px;
	background-color: forestgreen;
}

.chooseLocationAnchors a{
	color: black;
	text-decoration: none;
	display: block;
}

.locationAnchorParent {
	position: relative;
	display: inline-block;
}

.locationAnchorParent:hover .chooseLocationAnchors{
	display: block;
}

.rightShadowDiv {
    box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.4);
	margin: 0 50px;
	border: thin solid black;
}

.leftShadowDiv {
    box-shadow: -8px 6px 8px rgba(0, 0, 0, 0.4);
	margin: 0 50px;
	border: thin solid black;
}

/* ------------------------------ Sales Div ------------------------ */


#saleDiv {
	margin: 0px 5px;
	width: 50%;
	min-width: 675px;
}

#searchDiv {
	width: 50%;
}

#searchBar {
	width: 90%;
}

.saleElMargin {
	margin: 2px 10px;
}


#itemListDiv {
	max-height: 400px;
	overflow-y:auto;
}

.itemBrandColumn {
	width: 10%;
	display:flex;
	align-items: center;
	justify-content: center;
}

.itemNameColumn {
	width: 30%;
	display:flex;
	align-items: center;
	justify-content: center;
}

.itemCategoryColumn {
	width: 10%;
	display:flex;
	align-items: center;
	justify-content: center;
}

.itemStockColumn {
	width: 10%;
	display:flex;
	align-items: center;
	justify-content: center;
}

.itemPriceColumn {
	width: 10%;
	display:flex;
	align-items: center;
	justify-content: center;
}

.itemSelectButton {
	width: 10%;
	display:flex;
	align-items: center;
	justify-content: center;
}


.itemLineHeight{
	height: 30px;
}

/* #formDiv{ */
/*     display: none; */
/* } */

/* ------------------------------ Receipt Div ------------------------ */

#receiptOuterDiv {
	position: relative;
	width: 40%;
	min-width: 400px;
}

#receiptDiv {
	height: 350px;
	overflow-y:auto;
}

#moneyStuff {
	position: absolute;
	bottom: 0;
	right: 25%;
}

.itemQtyColumn {

	display:flex;
	align-items: center;
	justify-content: center;
}

.removeItemColumn {
	display:flex;
	align-items: center;
	justify-content: center;
}

/* ------------------------------ Body Div -------------------------- */

.bodyDiv {
	margin: 50px 0px;
}

/* ------------------------------ Left Menu -------------------------- */

#leftMenu {
	width: 10%;
}


/* ------------------------------ Dashboard -------------------------- */


.formLabel {
	width: 25%;
}

.editItemBox {
	width: 300px;
}

.expand :hover {
	transition: all .2s;
	transform: scale(1.5);
}

.expandWidth {
	width: 80%;
	margin: auto;
}

.submitReceivedColumn {
	width: 10%;
	display:flex;
	align-items: center;
	justify-content: center;
}

.twentyPercent
.itemReceivedColumn {
	width: 10%;
	display:flex;
	align-items: center;
	justify-content: center;
}

#receiveOrderItems {
	max-height: 200px;
	overflow-y:auto;
}

#custDiv {
	width: 30%;
	margin: auto;
	min-height: 200px;
	max-height: 200px;
	overflow-y:auto;
}

.customerHeader {
	width: 80%;
	margin: 0px auto 10px auto;
	text-align: center;
}

.custName {
	width: 20%;
}

.custEmail {
	width: 35%;
}

#addCustDiv {
	width: 30%;
	margin: auto;
	min-height: 200px;
	max-height: 200px;
}

.hiddenDivName {
	width: 70%; 
	margin: auto; 
	padding: 20px;
	text-align: center;
}

#displayEditItemDiv {
	min-height: 350px;
	max-height: 350px;
	overflow-y:auto;
}

#editItemDiv {
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
}

#dashItemSearchDiv {
	width: 80%;
}

#dashItemSearch {
	width: 80%;
	margin: 15px auto;
}

#dashItemListDiv {
	min-height: 100px;
	max-height: 350px;
	overflow-y:auto;
}
/* ------------------------------ chart -------------------------- */

.selectorDiv {
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
    box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.4);
	width: 80%;
	margin: 30px auto;
	border: thin solid black;
}

.selectorDiv:hover {
    transition: all .2s;
    transform: scale(1.2);
}

.chartDiv {
	width: 800px;
	height: 400px;
	display: block;
}

.monthSelectDiv {
	border: thin solid black;
	margin: 0px 15px;
	padding: 5px;
}

.monthSelectDiv:hover {
    transition: all .2s;
    transform: scale(1.2);
}

#monthSelection {
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
	width: 80%;
	margin: 30px auto;
}

#monthlySaleProfit {
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	width: 80%;
	margin: 30px auto;
}

#yearlySaleProfit {
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	width: 800px;
	height: 400px;
	margin: 30px auto;

}


/* ------------------------------ Home -------------------------- */

.para {
	font-family: 'Times New Roman', Times, serif;
	font-weight: 500;
	font-size: 25px;
	position: relative;
	text-align: center;
}

#paraDiv {
	width: 80%;
	margin: auto;
}

.pageLinks {
	display:flex;
    box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.4);
	border: thin solid black;
	margin: 10px auto;
	padding: 10px;
}

.pageLinks a:link, a:visited, a:hover, a:active{
	text-decoration: none;
	color: black;
}

.pageLinks:hover {
	transition: all .2s;
	transform: scale(1.2);
}

#pageLinkParent {
	width: 30%;
	margin: auto;
}

/* ------------------------------ Registration -------------------------- */

#regFormDiv {
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
    box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.4);
	margin: auto;
	border: thin solid black;
	width: 35%;
}

.regFormElDiv {
	width: 25%;
	margin: 10px 30% 10px 30%;
}

#loginFormDiv {
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
    box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.4);
	margin: auto;
	border: thin solid black;
	width: 35%;
}

#worksVideoDiv {
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
}

.footerPara {

	font-family: 'Times New Roman', Times, serif;
	font-weight: 100;
	font-size: 12px;
	position: relative;
	text-align: center;
}
